fire
loguru
manga-ocr
easyocr
natsort
numpy
opencv-python
Pillow
pyclipper
pytest
requests
scipy
shapely
torch
torchsummary
tqdm
yattag
transformers
datasets
PyQt5
addict
matplotlib
einops 
easydict
tokenizers
psutil
accelerate>=0.26.0
hf_xet
protobuf